@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$main_font_family: Montserrat;
$main_text_color: #44343c;

@mixin main_text_style(
  $f_size: 16px,
  $f_weight: 400,
  $color: $main_text_color
) {
  font-family: $main_font_family;
  color: $color;
  font-size: $f_size;
  font-weight: $f_weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: auto;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 30px;
  padding: 3px;
  @include main_text_style();
}

p {
  @include main_text_style();
}

input {
  @include main_text_style();
  min-height: 30px;
  min-width: 300px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

input:focus {
  border: none;
  outline: none;
}

input:focus::placeholder {
  opacity: 0;
}
select {
  border: none;
  outline: none;
}
select:focus {
  border: none;
  outline: none;
}

textarea {
  @include main_text_style();
  resize: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}
textarea:focus {
  border: none;
  outline: none;
}
.wrapper {
  max-width: 1128px;
  margin: auto;
  @include main_text_style();
}

.header {
  background-color: #f7cf8d;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.task_container {
  display: flex;
  column-gap: 10px;
}
.task_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.task_name {
  min-height: 34px;
}
.task {
  align-items: center;
  justify-content: space-between;
}
.task_select {
  justify-content: space-between;
}
.custom_select {
  min-width: 200px;
  position: relative;
}

.custom_select select {
  @include main_text_style();
  appearance: none;
  overflow: hidden;
  background: #fff url("../img/select_arrow.svg") no-repeat right;
  width: 100%;
  padding: 5px 10px 10px 5px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
}

.custom_select select option:not(:checked) {
  color: #000;
}
.custom_select select option:checked {
  color: #44343c;
  font-weight: bold;
}
.task_field {
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid #44343c;
}

.add_button {
  background-color: #44343c;
  color: #fff;
}

.search_field {
  background-color: #44343c;
  color: #fff;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 10px 0 10px 0;
}

.search_panel {
  display: flex;
  column-gap: 5px;
  margin-bottom: 5px;
}
.search_button {
  background-color: #44343c;
  background-image: url(../img/search_icon.svg);
  background-size: contain;
  // border: 2px solid #44343c;
}

.search_input {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
}

.search_results {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px 20px 5px 20px;
}
.tasks {
  background-color: #c89884;
}

.task_buttons {
  display: flex;
  column-gap: 5px;
}

.check_btn {
  background-size: contain;
  background-color: green;
  color: white;
  max-width: 30px;
}

.delete_btn {
  background-image: url(../img/delete_icon.svg);
  background-size: contain;
  background-color: red;
  color: white;
  max-width: 30px;
}

.line_break {
  white-space: pre-line;
  word-wrap: break-word;
  overflow-x: hidden;
}
@media (max-width: 570px) {
  .task_container {
    flex-direction: column;
    row-gap: 10px;
  }
  .search_panel {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 450px) {
  .task_field {
    flex-direction: column-reverse;
    row-gap: 10px;
    align-items: flex-end;
  }
}

@media (hover: hover) {
  .search_button:hover {
    background-color: #c89884;
  }

  .add_button:hover {
    background-color: #c89884;
  }

  .check_btn:hover{
    background-color: lightgreen;
  }

  .delete_btn:hover{
    background-color: palevioletred;
  }
}

@media (hover: none) {
  .search_button:hover {
    background-color: #c89884;
  }

  .add_button:hover {
    background-color: #c89884;
  }

  .check_btn:hover{
    background-color: lightgreen;
  }

  .delete_btn:hover{
    background-color: palevioletred;
  }
}
