@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$main_font_family: Montserrat;
$main_text_color: #44343c;

@mixin main_text_style(
  $f_size: 16px,
  $f_weight: 400,
  $color: $main_text_color
) {
  font-family: $main_font_family;
  color: $color;
  font-size: $f_size;
  font-weight: $f_weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #edf49f;
}
h1 {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  @include main_text_style(40px, 600, #fff);
}

input {
  @include main_text_style();
  min-height: 35px;
  min-width: 300px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

input:focus {
  border: none;
  outline: none;
}

input:focus::placeholder {
  opacity: 0;
}
select {
  border: none;
  outline: none;
}
select:focus {
  border: none;
  outline: none;
}

textarea {
  @include main_text_style();
  resize: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}
textarea:focus {
  border: none;
  outline: none;
}
textarea:focus::placeholder {
  opacity: 0;
}
.wrapper {
  margin: auto;
  max-width: 1196px;
}

button {
  border: none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 30px;
  padding: 3px;
  @include main_text_style();
}

.header_container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0;
  border: 5px solid #f98c0d;
  background-color: #f8cf39;
  padding: 20px;
  border-radius: 10px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
}

.flex_row {
  display: flex;
  column-gap: 10px;
}

.li_task {
  display: flex;
  border-radius: 5px;
  border: 3px solid #f8cf39;
  padding: 10px;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  @include main_text_style();
}
.add_button {
  background-color: #f98c0d;
  color: #fff;
}

.tasks {
  display: flex;
  column-gap: 5px;
}

.tasks_ul {
  width: 100%;
  display: flex;
  @include main_text_style();
  justify-content: center;
}
.task_info {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-x: hidden;
}

.task_buttons {
  display: flex;
  column-gap: 5px;
  align-items: center;
  input{
    min-width: 30px;
    border-radius: 5px;
    padding: 0;
  }
}

.tasks_ul li.hide {
   display: none;

}
.delete_button {
  background-image: url(../img/delete_icon.svg);
  background-size: contain;
  max-height: 30px;
  background-repeat: no-repeat;
  background-color: #ef476f;
  color: white;
}

.change_button {
  background-image: url(../img/change_icon.svg);
  background-size: contain;
  max-height: 30px;
  background-repeat: no-repeat;
  background-color: green;
  color: white;
}
.custom_select select {
  @include main_text_style();
  appearance: none;
  overflow: hidden;
  background: #fff url("../img/select_arrow.svg") no-repeat right;
  width: 100%;
  padding: 8px 10px 7px 10px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  min-width: 135px;
}

.custom_select select option:not(:checked) {
  color: #000;
}
.custom_select select option:checked {
  color: #44343c;
  font-weight: bold;
}

.search_container {
  background-color: #f98c0d;
  margin-bottom: 20px;
}
.search_field {
  color: #fff;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 10px 0 10px 0;
}

.search_panel {
  display: flex;
  column-gap: 5px;
  margin-bottom: 5px;
}
.search_button {
  background-color: #f98c0d;
  background-image: url(../img/search_icon.svg);
  background-size: contain;
}

.search_input {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
}

.search_results {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px 20px 5px 20px;
  @include main_text_style(16px, 400, #fff);
}

.complete_checkbox{
  min-width: 25px;
  min-height: 25px;
  border-radius: 5px;
}

.wide{
  column-gap: 25px;
}
.completed{
  column-gap: 5px;
  align-items: center;
  @include main_text_style( );
}

.center{
  justify-content: center;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width:100vw; 
  height: 100vh; 
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  margin: 100px auto; 
  padding: 20px;
  width: 50%; 
  font-size: 20px;
  background-color: #f8cf39;
  border: 5px solid #f98c0d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  span{
    @include main_text_style(20px, 600, #fff);
  }
 }

 .change_form{
  margin: 20px 0 20px 0;
  row-gap: 30px;
  span{
  @include main_text_style(18px, 600, #fff);
}
button{
  max-width: 300px;
}
 }

 .save{ 
justify-content: space-between;

 }

 .modal_btn{
  min-width: 150px;
 }